{% extends "base.html" %}
{% block title %}TDRW - 欢迎光临{% endblock %}
{% block page_content %} 
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="#">首页</a></li>
                    <li class="active">基本信息介绍</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix" role="complementary">
                <div class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
                    <ul class="nav bs-docs-sidenav">
                    <li>
                        <a>螺</a>
                            <ul class="nav">
                                <li>螺1</li>
                                <li>螺2</li>
                                <li>螺3</li>
                            </ul>
                    </li>
                    <li>
                        <a>螺</a>
                            <ul class="nav">
                                <li>螺1</li>
                                <li>螺2</li>
                                <li>螺3</li>
                            </ul>
                    </li>
                    </ul>
              </div>
              </div>
            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-default btn-lg btn-block">基本信息介绍</button>
              <button type="button" class="btn btn-default btn-lg btn-block">项目进展</button>
              <button type="button" class="btn btn-default btn-lg btn-block">相关数据库</button>
              <button type="button" class="btn btn-default btn-lg btn-block">项目组发表文章</button>
              <button type="button" class="btn btn-default btn-lg btn-block">相关文章</button>
            </div>
            <div class="col-md-8 well">
                <p>福寿螺，瓶螺科瓶螺属软体动物，外观与田螺极其相似，个体大、食性广、适应性强、生长繁殖快、产量高。食用未充分加热的福寿螺，可能引起广州管圆线虫等寄生虫在人体内感染。1981年引入中国，目前已被>
                <p>其肉质可食用，但口感不佳，并不为人们喜爱。另外，它还是一些珍贵水产动物的饲料。福寿螺个体大、食性广、适应性强、生长繁殖快、产量高，中国各地均有养殖。食用未充分加热的福寿螺，可能引起广州管
食用生的或加热不彻底的 福寿螺后即可被感染，可引起头痛、发热、颈部僵硬等症状，严重者可致痴呆，甚至死亡。因此，食用福寿螺时一定要注意彻底加热。</p>
            </div>
        </div>
    </div>
{% endblock %}
